@page "/"
@using RealEstate.App.Contracts
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


<PageTitle>Home</PageTitle>


<style>
    body {
        background: url('/homebg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>



<div class="container text-center py-5">
    <h1 class="display-4">RealEstateApp</h1>
    <p class="lead">Insert some lorem ipsum here...</p>

    <CascadingAuthenticationState>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-block btn-outline-primary" @onclick="NavigateToProperties">Search Properties</button>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-block btn-outline-primary" @onclick="NavigateToLogin">Log in</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-block btn-outline-secondary mt-3" @onclick="NavigateToRegister">Register</button>
                    </div>
                </div>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </CascadingAuthenticationState>
</div>


@functions{
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Inject]
    public IAuthenticationService AuthenticationService { get; set; }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToProperties()
    {
        NavigationManager.NavigateTo("/propertyoverview");
    }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }


}