@attribute [Authorize(Roles = "Admin")]
@page "/admin/deleteuser"
@using Microsoft.AspNetCore.Authorization
@using RealEstate.App.Contracts
@using RealEstate.App.ViewModels
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<h3>Delete User</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<div class="row mb-2">
    <div class="col-md-6">
        <input @bind="UserToDeleteName" class="form-control" placeholder="Enter username" />
    </div>
    <div class="col-md-6">
        <button @onclick="HandleValidSubmit" class="btn btn-danger">Delete User</button>
    </div>
</div>
@* <div class="row mb-2">
    <div class="col-md-6">
        <input @bind="PropertyName" class="form-control" placeholder="Enter property name" />
    </div>
    <div class="col-md-6">
        <button @onclick="SearchProperty" class="btn btn-primary">Search</button>
    </div>
</div>
@code {
    private string PropertyName { get; set; } = string.Empty;
    private PropertyViewModel Property { get; set; }
    private bool SearchAttempted { get; set; } = false;

    private async Task SearchProperty()
    {
        SearchAttempted = true;
        Property = await PropertyDataService.GetPropertyByNameAsync(PropertyName);
    }
} *@

@code {
    //private DeleteViewModel deleteUserModel { get; set; }
    private string UserToDeleteName { get; set; } = string.Empty;
    private string errorMessage;

    private async Task HandleValidSubmit()
    {
        try
        {
            Console.WriteLine("username-ul din patratel: ", UserToDeleteName);

            await AuthenticationService.DeleteUserByUsername(UserToDeleteName);
            NavigationManager.NavigateTo("/"); // Navigate to user management page or homepage
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}