@page "/login"
@using RealEstate.App.Auth
@using RealEstate.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider


<style>
    .cool-form {
        background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
        color: #333; /* Dark text color for contrast */
        border-radius: 4px;
        padding: 45px 60px;
        margin-top: 25px;
    }

    .cool-input {
        height: 3rem;
        border-radius: 3px;
        color: #333;
        border: 2px solid #3498db; /* Blue accent */
        background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
        font-size: 13px;
        outline: none;
    }

        .cool-input:focus, .cool-input:active {
            border: 1px solid #3498db; /* Blue accent */
            color: #333;
            background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
            outline: none;
            box-shadow: 0 0 5px #3498db; /* Blue accent */
        }

    body {
        background: url('/homebg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>



<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-4 cool-form">
            <h1 class="display-4">Login</h1>

            <EditForm OnValidSubmit="OnSubmit" Model="loginRequest">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="inputUsername" class="form-label cool-label">Username</label>
                    <InputText id="inputUsername" class="form-control cool-input" @bind-Value="loginRequest.Username" autofocus placeholder="Username" />
                    <ValidationMessage For="@(() => loginRequest.Username)" />
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label cool-label">Password</label>
                    <InputText type="password" id="inputPassword" class="form-control cool-input" placeholder="Password" @bind-Value="loginRequest.Password" />
                    <ValidationMessage For="@(() => loginRequest.Password)" />
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-block btn-outline-primary" type="submit">Sign in</button>
                    </div>
                </div>
                <NavLink href="register" class="text-center cool-link">
                    <h6 class="cool-link">Create account</h6>
                </NavLink>
            </EditForm>

            @if (!string.IsNullOrEmpty(error))
            {
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Login Error</strong>
                            <button type="button" class="btn-close" @onclick="DismissError" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            @error
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@code {
    LoginViewModel loginRequest { get; set; } = new LoginViewModel();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginRequest);
            navigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private void DismissError()
    {
        error = null;
    }
}